In [ ]:
# # # What is python?
# # Python is a popular programming language.Guido Van Rossum in 1991
# used in
#   web development
#   Software development
#   mathematics
#   system scripting

In [3]:
# #T1:Output
# Print Text

# Text in python must inside quotes.You can use either " double quotes or ' single quotes.

In [4]:
print("Hello world!")

Hello world!

In [6]:
# multiple words in same line
print("Hello first line-->",end=" ")
print("This is second line")

Hello first line--> This is second line

In [7]:
# Print Numbers
print(5)
print(5+5)
# Mix text and numbers
print("I am ",35," years old .")

5
10
I am  35  years old .

In [1]:
# Variables
# - Variables are containers for storing data values

x=5
y="Gokul"
print("A num ",x,"A String",y)

A num  5 A String Gokul

In [ ]:
Variables are case sensitive

a=4
A="Gokul"
b=str(a)

In [4]:
# Casting
x=str(3)
y=int(5)
z=float(3)

print(type(z))
print(type(y))
print(type(x))

<class 'float'>
<class 'int'>
<class 'str'>

In [ ]:
Multi Words Variable Name

In [ ]:
# Camel case
myVariableName = "John"

In [ ]:
# Pascal Case
MyVariableName = "John"

In [5]:
# Snake Case
my_variable_name = "John"

In [8]:
# Many Values to Multiple Variables

x,y,z="A","B","C"
print(x,end=" ")
print(y)
print(z)

# One value to multiple variables
x=y=z="Gokul"
print(x,y,z)

A B
C
Gokul Gokul Gokul

In [ ]:
Built-in DataTypes

Text Type : str
Numeric Type : int,float,complex
Sequence Type : list,tuple,range
Mapping Type : dict
Set Types : set, frozenset
Boolean Type : bool
Binary Type : bytes,bytearray,memoryview
None Type : NoneType

In [3]:
#Random Number
import random

print(random.randrange(1,10))

2

In [4]:
#Casting
x=int(2.5)
y=float(5)
print(x,y)

2 5.0